
.Title {
  position: relative;
  width: fit-content;
  z-index: 0;
}

.Title::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 50%;
  left: 55%;
  transform: translate(-50%, -50%) skewX(-20deg);
  width: 0.25em;
  height: 75%;
  background-color: rgba(239, 68, 68, 1);
  z-index: -5;
}

.Title::after {
  content: '';
  position: absolute;
  display: block;
  top: 125%;
  left: 45%;
  transform: translate(-50%, -50%) skewX(-20deg);
  width: 0.25em;
  height: 75%;
  background-color: rgba(239, 68, 68, 1);
  z-index: -5;
}
