
.Title {
  position: relative;
  width: fit-content;
  z-index: 0;
}

.Title::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-20deg);
  width: 1em;
  height: 100%;
  background-color: rgb(39, 41, 53);
  z-index: -5;
}

.Title::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-20deg);
  width: 0.25em;
  height: 250%;
  background-color: rgba(239, 68, 68, 1);
  z-index: -10;
}
